<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tori.studygroups">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".mainActivities.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".mainActivities.LoginActivity"
            android:windowSoftInputMode="stateUnchanged">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mainActivities.MainActivity"
            android:windowSoftInputMode="stateUnchanged"/>
        <activity android:name=".mainActivities.SignupActivity"
            android:windowSoftInputMode="stateUnchanged"/>
        <activity android:name=".utils.PhotoViewerActivity"/>
        <activity
            android:name=".utils.MediaPlayerActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".channels.ChatPartecipantListActivity"
            android:label="@string/participant_list" />
        <activity android:name=".channels.ChannelsActivity"
            android:windowSoftInputMode="stateUnchanged"/>
        <activity android:name=".channels.CreateChannelActivity"
            android:windowSoftInputMode="stateUnchanged"/>
        <activity android:name=".channels.CreateEventActivity"
            android:windowSoftInputMode="stateUnchanged"/>
        <activity android:name=".channels.EventPartecipantListActivity"
            android:windowSoftInputMode="stateUnchanged"/>
        <activity android:name=".channels.EventsChannelListActivity"
            android:windowSoftInputMode="stateUnchanged"/>
        <activity android:name=".Exams.ExamListActivity"
            android:windowSoftInputMode="stateUnchanged"/>


        <service
            android:name=".services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".services.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA3nyWvMBfpPB1WQctLcP6lw86TAyDCnBw"/>


    </application>

</manifest>